.App {
  text-align: center;
}

button{
  color: rgb(7, 143, 113);
  background-color: white; 
  width: 130px;
  height: 50px;
  font-size: 15px;
  margin: 20px;
  border: 1px solid rgb(7, 143, 113);
  transition: color 0.5s, border 0.5s, background-color 0.5s;  
}

.clicked
{color:white;
 background-color:  rgb(7, 143, 113);
 border: 1px solid rgb(7, 143, 113);
 transition: color 0.5s, border 0.5s, background-color 0.5s;
}


.box{

  display:flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 56%;
  height: 100px;
  background-color: rgba(221, 221, 221);
  border-radius: 5px;
}

